@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', sans-serif;
    color: c8d5b9;
}

/* Headings and logo */
header {
    display: flex;
    justify-content: space-between;
}

h1 {
    color: #4a7c59;
    font-family: Roboto, sans-serif;
    letter-spacing: 3.5px;
}

 h2 {
    letter-spacing: 4px;
}

#logo {
    margin-left: 50px;
    font-size: 260%;
}

/* Navigation links */

header #nav-menu {
    font-size: 130%;
    letter-spacing: 3px;
    display: flex; 
    }

    #logo, #nav-menu {
        line-height: 75px;
    } 

    #nav-menu li {
        list-style-type: none;
        display: inline-block;
        margin-right: 30px;
    }

    #nav-menu a {
        text-decoration: none;
        color: inherit;
    }

    #nav-menu a:hover {
        border-top: 1px solid #4a7c59;
        background-color: #faf3dd;
    }

    .active {
        border-bottom: 1px solid #4a7c59;
    }

    /* Main Image */
    #main-image {
        height: 600px;
        width: 100%;
        background-image: url("../images/main-image.jpg") no-repeat center center;
    }
