@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-size: 100%;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    color: rgb(60, 60, 60);
}

/* Headings and logo */
header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none; 
}

h1, h2 {
    color: #4a7c59;
    font-family: Roboto, sans-serif;
    letter-spacing: 25%;
}

 /* h2 {
    letter-spacing: .25rem;
} */

#logo {
    margin-left: 3.125rem;
    font-size: 250%;
}

/* Navigation links */

header #nav-menu {
    font-size: 120%;
    letter-spacing: 3px;
    display: flex; 
    }

    #logo, #nav-menu {
        line-height: 4.5rem;
    } 

    #nav-menu li {
        list-style-type: none;
        display: inline-block;
        margin-right: 1.875rem;
    }

    #nav-menu a {
        text-decoration: none;
        color: inherit;
        font-weight: bold;
    }

    #nav-menu a:hover {
        border: 1px solid #4a7c59;
        background-color: #4a7c59;
        color: white;
    }

    .active {
        border-bottom: 1px solid #4a7c59;
    }

    /* Main Image and overlay text*/

    #bg-image {
        position: relative;
    }

    #main-image {
        height: 35rem;
        width: 100%;
        background: url("../images/main-image.jpg") no-repeat center center;
        background-size: cover;
        object-fit: cover;
        /* object-position: bottom; */
    }

    #overlay-text, #overlay-text h2 {
        color: #C9FFE2;
    }

    #overlay-text {
        font-size: 1.5rem;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.25rem; 
        width: 18.75rem;
        height: 12rem;
        padding-top: 2.5rem;
        padding-left: 0.75rem;
        position: absolute;
        color: #C9FFE2;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 2rem;
        left: 9.4rem;
    }

    /* Home page feature content*/

    #intro-heading {
        padding-top: 2.5rem;
        text-align: center;
    }
    
    #intro-container {
        display: flex;
        justify-content: space-between; 
        align-items: center;  
    }   

     #intro-content {
        line-height: 1.6; 
        margin-right: 1.125rem;
    }

    .feat-content {
        width: 100%;
        margin: 3rem;
        height: 33.5rem;
       } 

    #chart-header {
        padding-bottom: 2.5rem;
    } 

    #chart-bar > iframe {
        overflow-y: hidden;
    }

    

    