@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Merriweather+Sans:wght@300&family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    color: #2A353C;
    background-color: #F4F4F9;
    min-height: 100vh;
    font-size: 1.2rem;
    scroll-behavior: smooth;
}

/* Headings and logo */

.header {
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none; 
}

 h2 {
    color: #141414;
    font-family: Lato, sans-serif;
    letter-spacing: 0.25rem;
}

.ev-logo > i {
    color: #141414;
}

#logo {
    margin-left: 3.125rem;
    font-size: 250%;
    color: #045839;
    font-family: Lato, sans-serif;
}

/* Navigation links */

header #nav-menu {
    font-size: 120%;
    letter-spacing: 2px;
    display: flex; 
    }

    #logo, #nav-menu {
        line-height: 4.53rem;
    } 

    #nav-menu li {
        list-style-type: none;
        display: inline-block;
        margin-right: 2rem;
    }

    #nav-menu a {
        text-decoration: none;
        color: #141414;
        font-weight: bold;
    }

    #nav-menu a:hover {
        color: #045839;
    }
    #nav-menu a span {
        border: 1px solid #F4F4F9;
        border-radius: 20px;
        background-color: #045839;
        color: #F4F4F9;
        padding: 2px 2px 5px 5px;
    }

    .active {
        border-bottom: 3px solid #045839;
    }

    /* Main Image and overlay text*/

    #bg-image {
        position: relative;
    }

    #main-image {
        height: 37.5rem;
        width: 100%;
        background: url("../images/main-image.jpg") no-repeat center center;
        background-size: cover;
        object-fit: cover;
    }

    .overlay-text, .overlay-text h2, .overlay-text h3 {
        color: #B8DBD9;
    }

    .overlay-text {
        font-size: 1.5rem;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.25rem; 
        width: 26.5rem;
        height: 12rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        position: absolute;
        color: #B8DBD9;
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 2rem;
        left: 9.4rem;
        box-sizing: border-box;
    }

    /* About home page*/
    #about {
        min-height: 37.5rem;
        padding-top: 7.5rem;
        text-align: center;
    }

     #contact-link {
        padding: 4.5rem 0 4.5rem 0;
        font-style: oblique;
        color: #045839;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .about-ev h2 {
        padding-bottom: 2rem;
    }

    .about-ev p {
        padding: 0 4rem 4rem 4rem;
        text-align: center;
    }

    .video {
        padding-top: 3rem;
    }

    .video-frame {
        margin: 2%;
    }

    /* Checkout section home page */

    #flex-container {
        min-height: 37.5rem;
        display: flex;
        justify-content: space-evenly; 
        align-items: center;
        background-color: #B8DBD9;
    }

    .check-out-inner {
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: .2rem;
        line-height: 1.8;
        
    }

    #flex-container .check-box {
        display: flex;
        justify-content: center; 
        align-items: center;
        min-height: 18.75rem;
    }

    /* .check-box .checklist {
        margin-right: 5.5rem;
    } */

    .check-out-list {
        border: 1px solid rgba(0, 0, 0, 0.5);
        list-style-type: none; 
        width: 25.125rem;
        border-radius: 5px;
        box-shadow: 0.75rem 0.75rem 0.3rem #141414;
        margin-right: 6rem;
    }

    .checklist li {
        list-style-type: none; 
        line-height: 1.8; 
        font-weight: 800;
        margin: 1rem;
        font-family: Merriweather, Roboto, sans-serif;
        text-align: center;
    }

     .checklist a {
        text-decoration: none;
        color: #2A353C;
    }

    .checklist a:hover {
        color:#F4F4F9;
        background-color: #141414;
    }


     /** Footer content **/
     /********************/

     footer {
        height: 4.6875rem;
        width: 100%;
        background-color: #2A353C;
        color: #F4F4F9;
        position: fixed;
        display: flex;
        bottom: 0;
        left: 0;
        z-index: 1;
        border-top: 3px solid #045839;
    }

    footer div {
        margin: 1.3% 2%;
        margin: auto, auto;
    }

    #social-links {
        text-align: center;
        width: 80%;
    }

    #social-links > li {
        display: inline;
    }
    #social-links i {
        font-size: 1.7rem;
        margin-top: 0.4rem;
        padding: 1.4rem;
        color: #F4F4F9;
    }

    #social-links i:hover {
        color: #045839;
    }

/**********Insight Page ***********/

/* Background image */

    #bgc-image {
        position: relative;
    }

    #insights-image {
    height: 37.5rem;
    width: 100%;
    background: url("../images/imain-image.jpg") no-repeat center center;
    background-size: cover;
    object-fit: cover;
    }

    .cover-text, .cover-text h2 {
        color: #B8DBD9;
    }

    .cover-text {
         font-size: 1.5rem;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.25rem; 
        width: 26.5rem;
        height: 10rem;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        position: absolute;
        color: #B8DBD9;
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 2rem;
        right: 9.4rem;
        box-sizing: border-box;
    }

    /*** Grid content insights page ***/

    #intro-heading {
        padding: 1rem 0 1rem 0;
        text-align: center;
    }
    
    #chart-header {
        padding-bottom: 1.5rem;
    } 

    #chart-bar > iframe {
        overflow-y: hidden;
    }

    .why-ev, .misconceptions, .benefits, .types {
        text-align: center;
        padding-bottom: 1rem;
    }

    .misconceptions p {
        font-weight: 800;
        padding-top: 1rem;
    }

    .misconceptions ul li {
        list-style-type: square;
        list-style-position: inside;
    }

    .benefits p {
        padding-top: 1rem;
    }

    /*****grid container *****/

    .grid-container {
        min-height: 100vh;
        min-width: 100%;
        display: grid;
        grid-template-columns: 40.5% 40.5%; 
        /* grid-auto-rows: 25.5%; */
        grid-auto-rows: minmax(1fr, auto) ;
        gap: 2.5rem 2.8rem;
        align-items: center; 
        justify-content: center;
    }

    .grid-box {
        padding: 1.5rem 1.5rem 2.5rem 1.5rem;
    }

    .grid-box3, .grid-box4, .grid-box5, .grid-box6 {
        border: 1px solid #141414;
        border-radius: 8px;
    } 

    .grid-box5, .grid-box6 {
        grid-column: span 2;
    }

      .grid-box1 {
        margin: auto 0;
        padding: 1.8rem;
    }

    /* .options {
        padding: 0.5rem 0 0.5rem 0;
        font-size: 1.8rem;
    } */

    .grid-box:nth-child(2){
        border-style: none;
        align-self: center;
        padding-top: 5rem; 
    }

    .grid-box:nth-child(3) {
        justify-self: center;
        align-self: center; 
        padding-top: 1rem;
        box-shadow: 0.75rem 0.75rem 0.3rem #141414;  
    }

    .grid-box:nth-child(4) {
        box-shadow: 0.75rem 0.75rem 0.3rem #141414; 
        
    }

    .grid-box:nth-child(5) {
        box-shadow: 0.75rem 0.75rem 0.3rem #141414; 
        align-self: center; 
        padding-left: 8rem;
    }

    .grid-box:nth-child(6) { 
        box-shadow: 0.75rem 0.75rem 0.3rem #141414; 
        justify-self: center;
        padding: 2rem 4rem 0 3rem;
    } 
    
    /*** Flex section content insight page ***/

    .flex-area {
        min-height: 37.5rem;
        width: 100%;
    }

    /* .grid-box img {
    object-fit: cover;
    width: 100%;
    }

    .charger {
        text-decoration: underline;
        margin-bottom: 1rem;
    } */

    /* .grid ul li {
        list-style-type: none;
        text-align: center;
        line-height: 1.6;
    }  */


    /**** Sign Up Form Page Content*****/

    .form-section {
        height: 56.25rem;
        background: url("../images/charging-bg-image.jpg");
        background-position: center;
        background-size: cover;
        object-fit: cover; 
    }

    .signup-form {
        background-color: #141414;
        opacity: 0.8;
        max-width: 420px;
        position: absolute;
        left: 10%;
        padding: 30px; 
        margin: 8.38rem 0.1rem 0 0;
    }

    .signup-form h2 {
        /* color: #2A353C; */
        color: #B8DBD9;
        font-family: Lato, sans-serif;
        margin-bottom: 1.25rem;
        font-size: 3rem;
        text-align: center;
    }

    .signup-form p {
        margin-bottom: 1.25rem;
        color: #B8DBD9;
    }

    /* Text input field*/

        .text-input {
        background: transparent;
        color: #B8DBD9;
        height: 1.6rem;
        width: 100%;
        border: 1px solid #B8DBD9;
        margin: 0.32rem 0 1.5rem 0;
        border-radius: 3px;
        }

        label {
            color: #B8DBD9;
        }

        .text-input:hover {
            border-color: #F4F4F9;
        }

        .join-button {
            display: block;
            font-size: 100%;
            width: 100%;
            padding: 1rem 2rem 1rem 1rem;
            text-align: center;
            background-color: #045839;
            color:#F4F4F9;
            margin-top: 1rem;
            border-radius: 3px;
            z-index: 2;
        }

        .join-button:hover {
            background-color: #F4F4F9;
            color: #045839;
        }

    

    